.main__header {
    height: 110vh;
    background-image: url('../img/bg2.svg');
    @include img__fix(center, cover);
    position: relative;
    overflow: hidden;

    // MAIN NAVBAR
    .main__navbar {
        padding: 1rem 0;

        .container {
            @include flex(row, flex-start, center);

            .logo {
                text-decoration: none;
                font-size: 2rem;
                font-weight: bold;
                font-family: $font-popp;
                text-transform: capitalize;
                color: lighten($color-black, 10%);
            }

            .navbar__list,
            .navbar__left {
                .nav-link {
                    font-family: $font-muli;
                    font-size: 1.1rem;
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }

            .navbar__list {
                margin-left: 4rem;

                .nav-link {
                    margin-right: 2rem;
                    color: lighten($color-black, 30%);
                }
            }

            .navbar__left {
                margin-left: auto;
                display: flex;

                .nav-link {
                    margin-right: 2rem;
                    @include flex(row, center, center);
                    width: 160px;
                    height: 50px;
                    border-radius: 30px;

                    &:first-of-type {
                        background-color: lighten($color-red, 15%);
                        color: $color-white;
                    }
                }
            }
        }
    }

    // HERO SECTION
    .hero {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        @include flex(row, space-between, center);

        .hero__text {
            width: 50%;

            h1 {
                font-family: $font-popp;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1.2;

                span {
                    display: inline-block;

                    &:first-of-type {
                        font-size: 1.7rem;
                        padding-bottom: 0.5rem;
                    }

                    &:last-of-type {
                        font-size: 3rem;

                        span {
                            color: $color-red;
                        }
                    }
                }
            }

            p {
                font-family: $font-muli;
                font-size: 1.1rem;
                line-height: 1.6;
                letter-spacing: 0.8;
                margin-top: 0.5rem;
            }

            .buttons {
                margin-top: 1rem;
                display: flex;

                a {
                    @include flex(row, center, center);
                    font-size: 1.1rem;
                    margin-right: 1rem;
                    width: 160px;
                    height: 50px;
                    font-family: $font-muli;
                    text-transform: capitalize;
                    text-decoration: none;
                    border-radius: 30px;
                    transition: transform 0.4s;

                    &:hover {
                        transform: translateY(-3px);
                    }

                    &:first-of-type {
                        background-color: $color-red;
                        color: $color-white;
                    }

                    &:last-of-type {
                        background-color: $color-white-light;
                        color: $color-black;
                        box-shadow: 0 0 33px rgba($color-black ,0.2);
                    }
                }
            }
        }

        .hero__img {
            width: 50%;
            @include flex(row, center, center);
            position: relative;
            padding-left: 1rem;

            img {
                width: 100%;
                height: 500px;
                @include img__fix(center, cover);
            }

            .video {
                position: absolute;
                @include flex(row, center, center);

                .play {
                    text-align: center;
                    @include flex(row, center, center);
                    position: relative;
                    margin-right: 2rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: lighten($color-black, 30%);

                    i {
                        z-index: 1000;
                        border-radius: 50%;
                        background-color: lighten($color-red, 20%);
                        width: 60px;
                        height: 60px;
                        @include flex(row, center, center);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 150%;
                        height: 150%;
                        background-color: lighten($color-red, 10%);
                        border-radius: 50%;

                    }
                }

                span {
                    font-size: 1.1rem;
                    font-family: $font-muli;
                    color: $color-white-light;
                }
            }
        }
    }
}
