@import url("https://fonts.googleapis.com/css?family=Muli:400|Poppins:400,600,700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.main__header {
  height: 110vh;
  background-image: url("../img/bg2.svg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main__header .main__navbar {
  padding: 1rem 0;
}
.main__header .main__navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main__header .main__navbar .container .logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Poppins", "sans-serif";
  text-transform: capitalize;
  color: #1a1a1a;
}
.main__header .main__navbar .container .navbar__list .nav-link,
.main__header .main__navbar .container .navbar__left .nav-link {
  font-family: "Muli", "sans-serif";
  font-size: 1.1rem;
  text-transform: capitalize;
  text-decoration: none;
}
.main__header .main__navbar .container .navbar__list {
  margin-left: 4rem;
}
.main__header .main__navbar .container .navbar__list .nav-link {
  margin-right: 2rem;
  color: #4d4d4d;
}
.main__header .main__navbar .container .navbar__left {
  margin-left: auto;
  display: flex;
}
.main__header .main__navbar .container .navbar__left .nav-link {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 30px;
}
.main__header .main__navbar .container .navbar__left .nav-link:first-of-type {
  background-color: #fb95a0;
  color: #FFF;
}
.main__header .hero {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__header .hero .hero__text {
  width: 50%;
}
.main__header .hero .hero__text h1 {
  font-family: "Poppins", "sans-serif";
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
.main__header .hero .hero__text h1 span {
  display: inline-block;
}
.main__header .hero .hero__text h1 span:first-of-type {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}
.main__header .hero .hero__text h1 span:last-of-type {
  font-size: 3rem;
}
.main__header .hero .hero__text h1 span:last-of-type span {
  color: #F84B5F;
}
.main__header .hero .hero__text p {
  font-family: "Muli", "sans-serif";
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.8;
  margin-top: 0.5rem;
}
.main__header .hero .hero__text .buttons {
  margin-top: 1rem;
  display: flex;
}
.main__header .hero .hero__text .buttons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  margin-right: 1rem;
  width: 160px;
  height: 50px;
  font-family: "Muli", "sans-serif";
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 0.4s;
}
.main__header .hero .hero__text .buttons a:hover {
  transform: translateY(-3px);
}
.main__header .hero .hero__text .buttons a:first-of-type {
  background-color: #F84B5F;
  color: #FFF;
}
.main__header .hero .hero__text .buttons a:last-of-type {
  background-color: #F8F8F8;
  color: #000;
  box-shadow: 0 0 33px rgba(0, 0, 0, 0.2);
}
.main__header .hero .hero__img {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 1rem;
}
.main__header .hero .hero__img img {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.main__header .hero .hero__img .video {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__header .hero .hero__img .video .play {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #4d4d4d;
}
.main__header .hero .hero__img .video .play i {
  z-index: 1000;
  border-radius: 50%;
  background-color: #fcadb6;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__header .hero .hero__img .video .play::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: #fa7c8b;
  border-radius: 50%;
}
.main__header .hero .hero__img .video span {
  font-size: 1.1rem;
  font-family: "Muli", "sans-serif";
  color: #F8F8F8;
}

/*# sourceMappingURL=app.css.map */
